<!-- <div class="col-md-5"> -->
    <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h3 class="panel-title text-center">Add a service<span class="glyphicon glyphicon-map-marker"></span></h3>
            <p style="text-center">* - required information<p>
        </div>
        <!-- Panel Body -->
        <div class="panel-body" ng-controller="addCtrl">
        
        <!-- database fields 
                "Street_Address" : "1 E. Regent St",
                "Services" : "LS",
                "First_Name" : "NA",
                "Last_Name" : "NA",
                "Agency" : "Inglewood Courthouse- Legal Aid Foundation of Los Angeles (LAFLA)",
                "Title" : "NA",
                "Service_Type" : "Low-cost legal service",
                "Population" : "Low-income community",
                "Hours_of_operation" : "Walk-ins Only: M, T, W, Th 9am-12pm, 1:30pm-4pm; Fri 9am-12pm",
                "Suite_Floor_Dept_Room" : "#107",
                "State" : "CA",
                "City" : "Inglewood",
                "Zip" : 90301,
                "Phone" : "NA",
                "Email" : "NA",
                "Website" : "NA",  -->
                
            <form name = "addForm" novalidate>
            
            <!--<div class="row">
                <div class="input-group col-md-12">
                        <label for "Agency">Agency<span class="badge">*</span> 
                            <input type="text" id="Agency" class="form-control" name="Agency" ng-model="formData.Agency" required>    
                        </label>            
                </div>
            </div> -->
            
            <div class="form-horizontal">
                <label for="Agency" class="control-label col-md-2">Provider type</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Agency" placeholder="Agency" ng-model="formData.Agency" required>
                </div>
            </div>
                
                
                
                
            
                <!--<div class="form-group ">
                    <label for="Agency">Agency<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Agency" placeholder="OldandGold" ng-model="formData.Agency" required>
                </div> -->
                
                
                
                <div class="form-group">
                    <label for="Services">Services<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Services" placeholder="OldandGold" ng-model="formData.Services" required>
                </div>
                <div class="form-group">
                    <label for="Service_Type">Service_Type<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Service_Type" placeholder="OldandGold" ng-model="formData.Service_Type" required>
                </div>
                <div class="form-group">
                    <label for="Population">Population<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Population" placeholder="OldandGold" ng-model="formData.Population" required>
                </div>
                <div class="form-group">
                    <label for="Hours_of_operation">Hours_of_operation<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Hours_of_operation" placeholder="OldandGold" ng-model="formData.Hours_of_operation" required>
                </div>
                <div class="form-group">
                    <label for="Street_Address">Street_Address<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Street_Address" placeholder="OldandGold" ng-model="formData.Street_Address" required>
                </div>
                <div class="form-group">
                    <label for="Suite_Floor_Dept_Room">Suite_Floor_Dept_Room<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Suite_Floor_Dept_Room" placeholder="OldandGold" ng-model="formData.Suite_Floor_Dept_Room" required>
                </div>
                <div class="form-group">
                    <label for="City">City<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="City" placeholder="OldandGold" ng-model="formData.City" required>
                </div>
                <div class="form-group">
                    <label for="State">State<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="State" placeholder="OldandGold" ng-model="formData.State" required>
                </div>
                
                <div class="form-group">
                    <label for="Zip">Zip<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Zip" placeholder="OldandGold" ng-model="formData.Zip" required>
                </div>
                
                <div class="form-group">
                    <label for="Website">Website<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Website" placeholder="OldandGold" ng-model="formData.Website" required>
                </div>
                
                
                <hr />
                
                <h4>Contact information</h4>

                <div class="form-group">
                    <label for="Title">Title<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Title" placeholder="OldandGold" ng-model="formData.Title" required>
                </div>
                <div class="form-group">
                    <label for="First_Name">First_Name<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="First_Name" placeholder="OldandGold" ng-model="formData.First_Name" required>
                </div>
                <div class="form-group">
                    <label for="Last_Name">Last_Name<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Last_Name" placeholder="OldandGold" ng-model="formData.Last_Name" required>
                </div>
                <div class="form-group">
                    <label for="Phone">Phone<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Phone" placeholder="OldandGold" ng-model="formData.Phone" required>
                </div>
                <div class="form-group">
                    <label for="Email">Email<span class="badge">*</span></label>
                    <input type="text" class="form-control" id="Email" placeholder="OldandGold" ng-model="formData.Email" required>
                </div>
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
<!-- </div> -->