<!-- <div class="col-md-5"> -->
    <div class="panel panel-default" ng-controller="addCtrl">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h3 class="panel-title text-center">Add a service<span class="glyphicon glyphicon-map-marker"></span></h3>
            <p class="text-center">* - required information</p>
        </div>
        <!-- Panel Body -->
        <div class="panel-body">
            
            <!-- from stackoverflow 
                <form name="userForm" novalidate>

                  <div class="form-group" ng-repeat="user in formData.users" ng-class="{ 'has-error' : userFieldForm.email.$invalid }">
                  <ng-form name="userFieldForm">
                    <label>{{ user.name }}'s Email</label>
                    <input type="text" class="form-control" name="email" ng-model="user.email" required>
                    <p class="help-block" ng-show="userFieldForm.email.$invalid">Valid Email Address Required</p>
                  </ng-form>
                  </div>

                </form>  -->
                
            <form name = "addForm" novalidate>
                <div>   
                    <div class="row">
                    <div class="form-horizontal col-md-12">
                    <div class="row">
                        <label for="Agency" class="col col-md-4 text-right">{{ formData.name.name }} *</label>
                        <input type="text" class="form-control col-md-8" id="name" placeholder={{formData.name.hint}} ng-model="formData.name.data" required>
                    </div>
                    </div>
                    </div>
                </div>
    
                <div>   
                    <div class="row">
                    <div class="form-horizontal col-md-12">
                    <div class="row">
                        <label for="Services" class="col col-md-4 text-right">Services *</label>                          
                        <textarea rows="4" cols="50" class="form-control col-md-8" id="Services" placeholder="Food distribution, and much more" ng-model="formData.Services.data" required></textarea>
                    </div>
                    </div>
                    </div>
                </div>
                
                <div ng-repeat="prov in formData.restOfProviderInfo">   
                    <div class="row">
                    <div class="form-horizontal col-md-12">
                    <div class="row">
                        <label class="col col-md-4 text-right">{{ prov.name }} *</label>
                        <input type="text" class="form-control col-md-8" id="Agency" placeholder={{prov.hint}} ng-model="prov.data" required>
                    </div>
                    </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class=col col-md-12>
                        <h4 class="text-center">Contact information</h4>
                    </div>
                </div>
                    
                 <div ng-repeat="contact in formData.contactInfo">   
                    <div class="row">
                    <div class="form-horizontal col-md-12">
                    <div class="row">
                        <label class="col col-md-4 text-right">{{ contact.name }} *</label>
                        <input type="text" class="form-control col-md-8" id="Agency" placeholder={{contact.hint}} ng-model="contact.data" required>
                    </div>
                    </div>
                    </div>
                </div>

                    <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
<!-- </div> -->