<div class="col-md-5">
    <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Service types</h2>
        </div>
        <!-- Panel Body -->
        <div class="panel-body">
            <!-- List all service types from dsc collection -->
            <ul>
                <li ng-repeat="prov in providers" >
                    <h4 >{{prov.mne}}</h4>
                    <p >{{prov.shortDes}}</p>
                    <hr />
                    <p>{{prov.longDesc}}</p>
                </li> 
            </ul>
            
        </div>
    </div>
</div>