<!-- selectTypeForm.html -->

<!-- Select a service type -->
<!-- <div class="col-md-5"> -->

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h3 class="panel-title text-left">Select a service</span></h3>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form -->
            <form name="selectTypeForm">
                <div class="input-group row">
                    <div class="col col-md-12">
                    <span class="input-group" ng-repeat="type in provider_types"  >
                        <label>
                            <input type="checkbox" name="selectProvType" ng-model="selectTypeIndex[provider_types.indexOf(type)]" ng-change="updateSel(provider_types.indexOf(type), type.mne)" > {{type.shortDes}}     
                        </label>
                    </span>
                    </div>
                </div>
            </form>
            
        </div>

        <!-- Footer panel for displaying count. Note how it will only display if queryCount is greater than 0 -->
        <!-- <div ng-show="queryCount>0" class="panel-footer">
            <p class="text-center">Hot Dang! We Found {{queryCount}} Teammates.</p>
        </div> -->
    </div>
<!-- </div> -->